<!--begin::Footer-->
<footer class="app-footer">
    <!--begin::To the end-->
    <div class="float-end d-none d-sm-inline">Información actualizada al instante</div>
    <!--end::To the end-->
    <!--begin::Copyright-->
    <strong>
        &copy; @DateTime.Now.Year &nbsp;
        <a href="https://dolar.guru/" class="text-decoration-none">Dolar.Gurú</a>.
    </strong>
    Todos los derechos reservados.
    <!--end::Copyright-->
</footer>
<!--end::Footer-->

@code {

}
