.shadow-sm {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
    text-align: center;
}

.display-4 {
    font-size: 3rem;
}

canvas {
    width: 100%;
    max-height: 400px;
    display: block;
    margin: auto;
}

.marquee {
    font-weight: bold;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    animation: scroll 10s linear infinite;
    border-radius: 8px;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.ad-placeholder {
    min-height: 180px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    text-align: center;
    padding: 15px;
    padding: 10px;
    min-height: 200px;
}

.news-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.card {
    border-radius: 10px;
}